 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi there! I'm Marc, a passionate software developer focused on web dev. I get fun developing good software applying best practices and clean code. My profession is one of my hobbies!</p>
                </div>
                <div class="col-lg-4">
                    <p>Apart from coding, I enjoy playing piano, going for a walk, listening to music, learning new skills... nothing extraordinary at all.</p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.laravel.com">
                        <img src="https://img.shields.io/badge/Laravel-8-FF2D20.svg?style=flat-square&logo=laravel" alt="Laravel 8"/>
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
