{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
    {%- for post in posts -%}
    {% if forloop.index == 1 %}
    {%- include post.html -%}
    {% else %}
    {%- include post.html -%}
    {% endif %}
    {%- endfor -%}
</div>
{%- endif %}
{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
    {%- for post in posts -%}
    {% if forloop.index == 1 %}
    {%- include post.html -%}
    {% else %}
    {%- include post.html -%}
    {% endif %}
    {%- endfor -%}
</div>
{%- endif %}
