<div class="col-span-2 md:col-span-1 max-w lg:max-w-sm rounded overflow-hidden shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-102">
    <a href="{{ post.permalink | relative_url }}">
        <img class="w-full" src="/assets/card-top.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ post.title | escape }}</div>
            <p class="text-gray-700 text-base">
                {{ post.description | escape }}
            </p>
        </div>
        <div class="px-6 py-4">
            {%- for category in post.categories -%}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"># {{ category }}</span>
            {%- endfor -%}
        </div>
    </a>
</div>
